<html>
    <head>
        <title>Welcome to our site</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Welcome</h1>
        <p>
            Hi {{ name }}, and welcome to our website!
        </p>
        <p>
            Bye!
        </p>
        <hr>
        Footer with logo
        <img src="logo.png">
    </body>
</html>